@import "../Variables.scss";

#TopNav {
  display: flex;
  background-color: $lightGray;
  a {
    padding: 10px;
    text-decoration: none;
    color: black;
  }
  .inactive {
    background-color: $lightBlue;
  }
  .active {
    background-color: white;
  }
}
