// Colors palette
$lightBlue: #84cbfb;
$lightGray: #e7eef6;
$gray: #cbdbe9;
$green: #19a69e;

//Fonts
$light: Muli Light;
$bold: Muli Bold;
$regular: Muli Regular;
$semiBold: Muli SemiBold;

//Font Colors
$dimColor: #4196ca;
$greyColor: #6f7d88;
$lightGreyColor: #c6ced7;
